*{padding: 0;  margin:0;}
.main{
    margin-top:-6px;
    width: 100%;
    min-width: 1200px;
    background-color:#fafafa;
    font-family: 黑体;
    font-size: 14px;
}
.row{
    width: 1200px;
    margin: 0 auto 190px;
}
.menu{
    font-size: 18px;
    height: 80px;
    line-height: 80px;
    border-bottom:solid 1px #d0d6d9;
}
.green{
    color: #29b078;
}
.nva{
    height: 60px;
    border-bottom:solid 1px #edf1f2 ;
}
.dir,.choose{
    margin-top: 23px;
    float:left;
}
.dir{
    color: #999;
    margin-right: 20px;
}
.choose{
    color:#333;
    margin-right: 30px;
}
.choose:hover{
    color: #fff;
    background-color: #29b078;
}

.title {
    height: 80px;
    line-height: 80px;
    border-bottom: solid 1px #d0d6d9;
}
.main-box{
    width: 380px;
    background-color: #fff;
    margin-top: 50px;;
    margin-right: 18px;
    float: left;
    border: solid 1px #f6f6f6;
    position: relative;
    box-sizing: content-box;
}
.top{
    margin: 20px 5px 15px 10px;
}
.top img{
    float: left;
    margin-right: 10px;
}
.top b{
    margin-top: 12px;
    margin-bottom: 24px;
    display: inline-block;
}
.top-text{
    text-align: justify;
    margin-right: 10px;
    word-break: break-all;
    -webkit-word-break:break-all;
}
.clear {clear: both;}
.summary p{
    float: left;
    width: 50%;
    color: #999;
    border-right: solid 1px #edf1f2;
    border-top: solid 1px #edf1f2;
    border-left: solid 1px #edf1f2;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.t1{
    color: #333;
}
.t2{
    float: right;
    padding-right: 15px;
    color: #333;
}
.red{
    color:#f01400;
}
.pay-text{
    color: #999;
    float: left;
    width: 50%;
    height: 144px;
    line-height: 144px;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom:solid 1px #edf1f2 ;
    border-top: solid 1px #edf1f2;
}
.learning{
    padding-left: 15px;
    height: 48px;
    line-height: 48px;
    border-bottom: solid 1px #edf1f2;
    border-top: solid 1px #edf1f2;
    border-collapse:collapse;
}
.tips{
    padding-left: 15px;
    height: 48px;
    line-height: 48px;
    color:#999 ;
}
.hide{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    font-size: 16px;
}
.hide h2{
    text-align: center;
    margin-top: 140px;
}
.hide p{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.hide:hover{
    color: #fff;
    background:rgba(61,61,61,0.6);
    opacity: 1;
}